spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: root
    password: 12345
    url: jdbc:h2:mem:adm_videos_test;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    # É possível persistir em um arquivo alterando "mem:adm_videos_test" para "file:./.h2/dev"
  jpa:
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2